@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --font-roboto: "Roboto", sans-serif;
  
  --color-primary: #2E7D32;
  --color-primary-dark: #1B5E20;
  --color-earth: #3E2723;
  --color-soil: #F8F9FA;
}

@layer base {
  body {
    @apply bg-[#F8F9FA] text-gray-900 font-sans antialiased;
    min-height: 100dvh;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
